doctype html
html
  head
    meta(charset='utf-8')
    title Learn MEAN Stack
    link(rel="stylesheet", type="text/css", href="app.css")
  body
   p= data
   p #{data[0].image}
   img(src="#{data[0].image}")